@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: 'Open Sans','Times New Roman', Times, serif;
}
body{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)) ,url(./img/b.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
    font-size: 16px;

    
}

header {
	background: url(./img/back2.jpg);
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 50% 50% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
	
}

h1 {
    color: rgba(45, 224, 255, 0.685);
	font-family: Suez One;
	font-size: 80px;
	margin-bottom: 30px;
}

h3 .txt {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
   
    font-weight: 700  ;
}
h3{
    margin-bottom: 20px;
    color: red;
}
.txt{
    text-align: center;
    color: #FFF;
    letter-spacing: 2pt;
    font-weight: 400;
}

    /* data*/
    .container{
        
       display: flex;
      margin: 0 auto;
       flex-direction: row;
       padding: 20px;

    }
    .section1{
        padding: 20px;
        flex: 1;
    }
    .section2{
        padding: 20px;
        flex: 1;
        
    }
    form{
        border: 2px solid rgb(8, 255, 251);
        margin:30px 0 auto;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7));
         border-radius: 5px;
    
    }
    .sec label{
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        color: rgb(207, 242, 11);
        font-weight: 600;  
    }
    #visitDate {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        background: transparent;
        color: #fff;
        
      }
      .flatpickr-calendar {
        background-color: #6be6e0;
        
      }  
      
    .section{
        margin-bottom: 30px;
        margin-top: 35px;
    }
    h2{
        color: #0bffba;
        margin-bottom: 15px;
        margin: 20px;
    }
    label{
        display: block;
        margin-bottom: 10px;
        color: #ffffff;
        font-weight:800;
        margin-left: 20px;
        
    }
    input[type="number"]{
        width: 75px;
        margin-left: 20px;
        background-color:transparent;
        color: #0bffba;
     
    }
    select {
        margin-left: 20px;
        background-color: transparent;
        color: #0bffba;
    }
    select option{
        background-color:black;
    }
    #summary-table{
        width: 100%;
        border-collapse: collapse;;
        border: 2px solid rgb(0, 0, 0);
        animation: slideIn 3s ease-in-out;
     
    }
    
@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
    #summary-table th,
    #summary-table td{
        padding: 10px;
        text-align: left;
        
    }
    #summary-table th{
        background-color: rgba(45, 51, 57, 0.976);
        font-size: 18px;
        text-transform: capitalize;
        color: white;
    }
    #summary-table td{
        background-color: rgba(1, 94, 255, 0.976);
        font-weight: 700;
        
    }
    #summary-table tfoot td{
        font-size: 18px;
        font-weight: 600;
        word-spacing: 12px;
        background-color: #050505;
        color: #fff;
    }
    #continue-button{
        color: #000000;
        border: 2px solid;
        display: block;
        margin-left: 200px;
        background-color:rgba(31, 196, 196, 0.401);
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        padding: 15px;
    }
    #continue-button:hover{
        color: #fff;
        background-color: #000;
    }
    #continue-button[disabled]{
        opacity: 0.5;
        pointer-events: none;
        background-color: rgb(156, 148, 148);
    }
    /* CSS for the animation */
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 3s ease-in-out;
  }


  .pricing-section {
    margin-top: 20px;
  }
  .pricing-section h2{
    text-align: center;
    color: rgb(253, 253, 255);
  }
  #pricing-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;

  }

  
  #pricing-table th, #pricing-table td {
    padding: 10px;
    text-align: center;
    font-weight: 500;
  }
  
  #pricing-table th {
    background-color: #bcc552;
    font-weight: bold;
  }
  
  #pricing-table tr:nth-child(even) {
    background-color: #6c5f5f;
  }
  #pricing-table tr:nth-child(odd)
  {
    background-color: beige;
  }
  
  #pricing-table td.price {
    font-size: 20px;
  }
  
  
/* Media Query for Responsive Layout between 300px and 1200px */
@media  only screen and (max-width: 1200px) and (min-width: 300px) {
    
   
    #visitDate {
        margin-top: 5px;
        width: 50%;
    } 
    #continue-button {
        margin-left: 1%;
        font-size: 18px;
        padding: 1rem;
    }
    #continue-button:hover {
        color: #fff;
        background-color: #000;
    }

    #continue-button[disabled] {
        background-color: rgb(156, 148, 148);
    }
    

body{
    background:gray;
    font-size: 14px;   
}

header {
	background: url(./img/back2.jpg);
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 50% 50% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
	
}

h1 {
    color: rgba(45, 224, 255, 0.685);
	font-family: Suez One;
	font-size: 100px;
	margin-bottom: 30px;
}

h3 .txt {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
    font-weight: 400  ;
}
h3{
    margin-bottom: 20px;
    color: rgb(217, 188, 188);
}
.txt{
    text-align: center;
    color: #FFF;
    font-size: 15px;;
    font-weight: 400;
}

     form{
        border: 2px solid rgb(8, 255, 251);
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7));
         border-radius: 5px;
    
    }
    .sec label{
        display: block;
        text-align: center;
        font-size: 15px;
        color: rgb(207, 242, 11);
        font-weight: 300;  
    }
    #visitDate {
        color: #080707;
        
      }
 
      
    .section{
        margin-bottom: 30px;
        margin-top: 35px;
    }
    h2{
        color: #7999b5;
        margin-bottom: 15px;
        margin: 20px;
    }
    label{
        display: block;
        margin-bottom: 10px;
        color: #8ad0ae;
        font-weight:400;
        margin-left: 20px;
        
    }
    input[type="number"]{
      
        color: #ffffff;
     
    }
    select {
        margin-left: 20px;
        background-color: transparent;
        color: #0bffba;
        width: 85%;
    }
    select option{
        background-color:black;
    }
   

    #summary-table th{
        background-color: rgba(45, 51, 57, 0.976);
        font-size: 13px;
        color: white;
    }

    #summary-table tfoot td{
        font-size: 18px;
        font-weight: 600;
        word-spacing: 12px;
        background-color: #050505;
        color: #fff;
    }
    #continue-button{
        color: #000000;
        border: 2px solid; 
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
       
    }

  .pricing-section {
    margin-right: 250px;
  }
  .pricing-section h2{
    text-align: left;
    color: rgb(253, 253, 255);
  }
  #pricing-table {
    width: 10%;
    margin: auto;

  }

  
  
}

